<div class="border-right sidebar-color" id="sidebar-wrapper">
    <div class="sidebar-sticky">
        <div class="sidebar-heading-big">
            <a href="{% link index.md %}">
                {{ site.class_number }}</a>

        </div>

        <div class="search-bar">
            <form method="get" action="https://www.google.com/search" target="_blank">
                <input class="search-box" type="hidden" name="sitesearch" value="{{ site.url }}{{ site.baseurl }}" />
                <input class="search-box" type="text" name="q" maxlength="255" placeholder="Search" />
            </form>
        </div>
    </div>
</div>